body{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategrey;
}

.LoginContainer{
    width: 70%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 3%;
    margin-top: 25vh;
}

#lpArticle {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    vertical-align: middle;
    display: inline-block;
}

#lp-resource-component-container{
    width: auto;
    height: auto;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
    padding: 3%;
  }